.DS_Store
.ansible
.bundle
.editorconfig
.github/
.idea/
.vagrant
Movefile
_site
npm-debug.log
package.box
playbook.retry
provision-post.sh
provision-pre.sh
site.yml
vendor
# wordpress
wp-cli.yml

*.log
wordpress/index.php
wordpress/wp-cron.php
wordpress/wp-admin
wordpress/wp-includes
wordpress/wp-activate.php
wordpress/license.txt
wordpress/wp-trackback.php
wordpress/xmlrpc.php
wordpress/wp-blog-header.php
wordpress/wp-comments-post.php
wordpress/wp-content/index.php
wordpress/wp-content/plugins/
wordpress/wp-links-opml.php
wordpress/wp-load.php
wordpress/wp-login.php
wordpress/wp-mail.php
wordpress/wp-settings.php
wordpress/wp-signup.php
wordpress/readme.html
wordpress/wp-config.php
wordpress/wp-content/advanced-cache.php
wordpress/wp-content/backup-db/
wordpress/wp-content/backups/
wordpress/wp-content/blogs.dir/
wordpress/wp-content/cache/
wordpress/wp-content/upgrade/
wordpress/wp-content/uploads/
wordpress/wp-content/wp-cache-config.php
wordpress/wp-content/plugins/hello.php

./.htaccess
./license.txt
./readme.html
./sitemap.xml
./sitemap.xml.gz
