/*
GFBio Styles
http://terminologies.gfbio.org
Author: J. Oppenlaender
Version: 0.1
*/

/*
Definitions
*/
$primary-text-color: #000;
$primary-text-color-hover: #f48fb1;


/* work-arounds */

.clearfix:before, 
.clearfix:after {
	content: " "; 
	display: table; 
}
.clearfix:after {
	clear: both;
}


/* navigation */

div.nav-wrapper .brand-logo img{
	width:auto;
	height:64px;
	padding:8px 0;
}
div.nav-wrapper #nav-mobile a, div.nav-wrapper #nav-mobile a:visited {
	color: $primary-text-color;
}
div.nav-wrapper #nav-mobile a:hover {
	color: $primary-text-color-hover;
}

/* page content */
.home-action-icon i {
	font-size:64px;	
}
