/*
GFBio Styles
http://terminologies.gfbio.org
Author: J. Oppenlaender
Version: 0.1
*/

/*
Definitions
*/
$primary-text-color: #000;
$primary-text-color-hover: #f48fb1;

$footer-primary-color: #e74b12;


/* ------------ */
/* work-arounds */
/* ------------ */

.clearfix:before, 
.clearfix:after {
	content: " "; 
	display: table; 
}
.clearfix:after {
	clear: both;
}

/* prevent jumping of content */
body {
	overflow-y: scroll;
}

/* sticky footer */
/*
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
*/

/* ------- */
/* general */
/* ------- */

section {
	padding: 1.78rem 0;
	margin-bottom:0;
}

.bold {
	font-weight:bold;
}

.card .card-icon img {
	max-width:100%;
	height:auto;
}

div.navbtn {
	display:none;
	position: fixed;
	z-index:999;
	right:20px;
	bottom:20px;
}


/* ---------- */
/* navigation */
/* ---------- */

div.nav-wrapper .brand-logo img {
	width:auto;
	height:64px;
	/*
	height:84px;
	*/
	padding:8px 0;
}
div.nav-wrapper {
	#nav-mobile a, #nav-mobile a:visited {
		color: $primary-text-color;
	}
}
div.nav-wrapper {
	#nav-mobile a:hover {
		color: $primary-text-color-hover;
	}
}
/*
.navbar-fixed, .navbar-fixed .nav-extended {
	height:84px;
}
*/


/* ------ */
/* footer */
/* ------ */

footer.page-footer {
	margin-top:0;
	background-color:$footer-primary-color;

	div.footer-copyright a {
		margin-left: 2em;
	}
}


/* --------- */
/* home page */
/* --------- */

#home {

	.card {
		cursor:pointer;
	}
	.box {
		cursor:pointer;
	}

	.card {
		/*
		.card-action {
			position: absolute;
			bottom: 0;
			left:0;
		}
		*/
	}

	#banner {
		padding:0;
		margin:0;
		line-height:0;
	}

	#introduction {
		margin-top:0;
	}

}

/* ----------- */
/* browse page */
/* ----------- */

#browse {

	#terminologies table {
		padding-bottom: 2em;
	}

}

/* ------------------------ */
/* terminology details page */
/* ------------------------ */

#term-details .key {
	font-weight:bold;
}

/* -------- */
/* faq page */
/* -------- */

#faq .faq-subheadline {
	font-weight:bold;
	display:block;
	clear:both;
}
#faq ul.faq-list {
	padding-bottom:0;
}

/* ------------ */
/* widgets page */
/* ------------ */

#widgets {
	.card {
		cursor:pointer;
		.card-title.widget-title {
			padding-top:1em;
		}
		.card-action.white {
			width:100%;
		}
	}
}

