/*
GFBio Styles
http://terminologies.gfbio.org
Author: J. Oppenlaender
Version: 0.1
*/


/* ============= */
/*  Definitions  */
/* ============= */

$text-color: #00131A;

$black-text: $text-color;
$white-text: #FFFFFF;
$grey-text:  #EEEEEE;

$link-color: #E94D18;
$link-color-hover: #878786;
$link-color-active: #878786;

$footer-primary-color: #E94D18;
$footer-secondary-color: #878786;

$section-background: #ECECEA;

$base-nav-height: 64px;


/* ------------ */
/* work-arounds */
/* ------------ */

.clearfix:before, 
.clearfix:after {
	content: " "; 
	display: table; 
}
.clearfix:after {
	clear: both;
}

/* prevent jumping of content */
body {
	overflow-y: scroll;
}

/* sticky footer */
/*
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
*/

/* ------- */
/* general */
/* ------- */

section {
	padding: 1.78rem 0;
	margin-bottom:0;
}

.alt {
	background-color:$section-background;
}

.bold {
	font-weight:bold;
}

.card .card-icon img {
	max-width:100%;
	height:auto;
}

div.navbtn {
	display:none;
	position: fixed;
	z-index:999;
	right:20px;
	bottom:20px;
}

a, a:visited {
    color: $link-color;
}
a:hover {
    color: $link-color-hover;
}

/* ---------- */
/* navigation */
/* ---------- */

div.nav-wrapper {
	.brand-logo img {
		width:auto;
		height:$base-nav-height;
		padding:8px 0;
	}
	ul#nav_dropdown {
		margin-top:$base-nav-height;
	}
	#nav-mobile a, #nav-mobile a:visited {
		color: $link-color;
	}
	#nav-mobile a:hover, #nav-mobile a:active {
		color: $text-color;
	}
}

#mobile-navigation {
	.indicator {
		background-color:$text-color;
	}
	ul.tabs {
		display:block;
		text-align:center;
	}
	ul.tabs li {
		display: inline-block;
	}
}

/* ------ */
/* footer */
/* ------ */

footer.page-footer {
	margin-top:0;
	color: $grey-text;

	div.footer-copyright a {
		margin-left: 2em;
	}

	h1,h2,h3,h4,h5 {
		color: $white-text;
	}

	a, a:visited {
		color: $grey-text;
	}
	a:hover {
		color: $white-text;
	}
}

footer.page-footer.full.top-part {
	background-color:$footer-primary-color;
}
footer.page-footer.full .bottom-part {
	background-color:$footer-secondary-color;
}

footer.page-footer.small.top-part {
	background-color:$footer-secondary-color;
}
footer.page-footer.small .bottom-part {
	background-color:$footer-primary-color;
}

/* --------- */
/* home page */
/* --------- */

#home {

	.card {
		cursor:pointer;
	}
	.box {
		cursor:pointer;
	}

	.card {
		/*
		.card-action {
			position: absolute;
			bottom: 0;
			left:0;
		}
		*/
	}

	#banner {
		padding:0;
		margin:0;
		line-height:0;
	}

	#introduction {
		margin-top:0;
	}

}

/* ----------- */
/* browse page */
/* ----------- */

#browse {

	#terminologies table {
		padding-bottom: 2em;
	}

}

/* ------------------------ */
/* terminology details page */
/* ------------------------ */

#term-details .key {
	font-weight:bold;
}

/* -------- */
/* faq page */
/* -------- */

#faq {
	.faq-subheadline {
		font-weight:bold;
		display:block;
		clear:both;
	}
	ul.faq-list {
		padding-bottom:0;
	}
	.ico {
		margin-right:0;
	}
}

/* ------------ */
/* widgets page */
/* ------------ */

#widgets {
	.card {
		cursor:pointer;
		.card-title.widget-title {
			padding:20px 0 10px 0;
		}
		.card-action.white {
			width:100%;
		}
	}
}

